ul{
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style-type: none;
}


  /* Add a black background color to the top navigation */
#nav {
  background-color: #000000;
  overflow: hidden;
  min-width: 100%;
}


#nav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 14px;
}

/* Hover Styling */
#nav a:hover {
  background-color: #ddd;
  color: black;
}

/* Active Styling */
#nav a.active {
  background-color: #4164bd;
  color: white;
}

input {
  margin-left: 10px;
  margin-bottom: 10px;
}